ui-flows/static-ui.json
[{"id":"ffba1f04.46d55","type":"tab","label":"UI Static Content-Sample","disabled":false,"info":""},{"id":"b339036c.df55a","type":"ui_template","z":"ffba1f04.46d55","group":"dd81d2ea.00718","name":"logo","order":1,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload\">-->\n<!--    <img src=\"https://www.snaphash.io/assets/img/logo.svg\"/>-->\n<!--</div>-->\n<div>\n<img style=\"width:155px;\" src=\"https://www.snaphash.io/assets/img/logo.svg\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":80,"wires":[[]]},{"id":"4f5e0c73.3ca974","type":"inject","z":"ffba1f04.46d55","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":300,"wires":[["23b4fbc0.836004"]]},{"id":"23b4fbc0.836004","type":"ui_template","z":"ffba1f04.46d55","group":"c39dc17a.53986","name":"Half-Column","order":2,"width":"16","height":"5","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":260,"wires":[[]]},{"id":"bbf9fbae.6a7a38","type":"ui_template","z":"ffba1f04.46d55","group":"c39dc17a.53986","name":"Half-Column","order":2,"width":"16","height":"5","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":300,"wires":[[]]},{"id":"5acac585.b4486c","type":"comment","z":"ffba1f04.46d55","name":"header","info":"","x":450,"y":40,"wires":[]},{"id":"adc60c9a.3cbe6","type":"comment","z":"ffba1f04.46d55","name":"overview-row","info":"","x":470,"y":220,"wires":[]},{"id":"8f5d14f1.13ef68","type":"comment","z":"ffba1f04.46d55","name":"analytics-row","info":"","x":470,"y":400,"wires":[]},{"id":"3301ce24.028c72","type":"ui_template","z":"ffba1f04.46d55","group":"866f76c9.b3d598","name":"Wide-Column","order":1,"width":"32","height":"8","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":440,"wires":[[]]},{"id":"22af86e4.0bf5aa","type":"comment","z":"ffba1f04.46d55","name":"READ THIS","info":"These nodes are currently disabled. Enable these nodes one by one to see sample UI layout dashboard.","x":160,"y":80,"wires":[]},{"id":"dd81d2ea.00718","type":"ui_group","z":"","name":"header","tab":"a317b7e3.ab0478","order":1,"disp":false,"width":"32","collapse":false},{"id":"c39dc17a.53986","type":"ui_group","z":"","name":"overview","tab":"a317b7e3.ab0478","order":3,"disp":false,"width":"32","collapse":false},{"id":"866f76c9.b3d598","type":"ui_group","z":"","name":"detailed_analytics","tab":"a317b7e3.ab0478","order":4,"disp":false,"width":"32","collapse":false},{"id":"a317b7e3.ab0478","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]
