ethereum-flows/chainid.json
[{"id":"dbea257.fb362d8","type":"tab","label":"Ethereum","disabled":false,"info":""},{"id":"c4ba0029.a117b","type":"chain-id","z":"dbea257.fb362d8","name":"","network":"d83e9f6c.a0dc2","x":440,"y":260,"wires":[["2490ca8f.5efab6"]]},{"id":"2490ca8f.5efab6","type":"debug","z":"dbea257.fb362d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"38fdf2ed.229e0e","type":"inject","z":"dbea257.fb362d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":220,"wires":[["c4ba0029.a117b"]]},{"id":"d83e9f6c.a0dc2","type":"ethereum-network","z":"","name":"mainnet-geth","providertype":"websocket","url":"ws://mainnetgeth.default.svc.cluster.local:8546"}]