iota-flows/iota_utils.json
[{"id":"873f8542.1459b8","type":"tab","label":"IoTA Utils Node Demo","disabled":false,"info":""},{"id":"d9e4d86c.3fa438","type":"iota-utils","z":"873f8542.1459b8","name":"iota-utils: Ascii-to-Trytes","conversion":"trytesToAscii","x":450,"y":240,"wires":[["58fc2d6e.6f1f74"]]},{"id":"37fc8fd4.9f71c","type":"inject","z":"873f8542.1459b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sourceField\":\"MyStringToConvertToTrytes\"}","payloadType":"json","x":230,"y":180,"wires":[["d9e4d86c.3fa438"]]},{"id":"58fc2d6e.6f1f74","type":"debug","z":"873f8542.1459b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]}]