iota-flows/iota-mam-send.json
[{"id":"c7a2bb0b.3f0998","type":"tab","label":"IOTA MAM - Send","disabled":false,"info":""},{"id":"1c0820b9.680bef","type":"mam-send","z":"c7a2bb0b.3f0998","name":"","network":"f8d079e6.c3ff88","channel":"3cd46f25.b4da3","x":500,"y":240,"wires":[["a8870fea.5e573"]]},{"id":"114c683f.bdef68","type":"inject","z":"c7a2bb0b.3f0998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sourceField\":\"ThisIsMyAsciiStringThatICanConverttoTrytes\"}","payloadType":"json","x":280,"y":100,"wires":[["ce705eb3.a1bea"]]},{"id":"ce705eb3.a1bea","type":"iota-utils","z":"c7a2bb0b.3f0998","name":"","conversion":"asciiToTrytes","x":570,"y":100,"wires":[["a8870fea.5e573"]]},{"id":"a8870fea.5e573","type":"debug","z":"c7a2bb0b.3f0998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"967c408a.c2003","type":"inject","z":"c7a2bb0b.3f0998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"content\":\"payload that I want to publish to IOTA\",\"tag\":\"AnyTag\"}","payloadType":"json","x":240,"y":300,"wires":[["1c0820b9.680bef"]]},{"id":"f8d079e6.c3ff88","type":"iota-network","z":"","name":"IoTA TestNet","url":"https://nodes.devnet.iota.org:443","tcp":"tcp://zmq.devnet.iota.org:5556","weight":"9","depth":"3"},{"id":"3cd46f25.b4da3","type":"mam-channel","z":"","name":"SnapHashtestChannel","seed":"CCWCXCGDSBGDWBMDKBGDRCXCXCBCHDFDXCBDVCCCWCPCHDSBMBPCBDMBCDBDJDTCFDHDHDCDCCFDMDHDT","mode":"restricted","security":"2","sidekey":"ThisIsMySideKeySecretToBeShared"}]