iota-flows/iota-mam-fetch.json
[{"id":"8bc61068.5e9dc","type":"tab","label":"IOTA MAM - Fetch","disabled":false,"info":""},{"id":"fde3748d.14e338","type":"inject","z":"8bc61068.5e9dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["f05142a2.4b2bd"]]},{"id":"f05142a2.4b2bd","type":"mam-fetchall","z":"8bc61068.5e9dc","name":"","network":"f8d079e6.c3ff88","channel":"3cd46f25.b4da3","limit":4,"x":460,"y":340,"wires":[["24e53076.c1af1"]]},{"id":"24e53076.c1af1","type":"debug","z":"8bc61068.5e9dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":240,"wires":[]},{"id":"b4bed094.c08ac","type":"iota-utils","z":"8bc61068.5e9dc","name":"","conversion":"trytesToAscii","x":780,"y":480,"wires":[["24e53076.c1af1"]]},{"id":"ef3dca46.523348","type":"inject","z":"8bc61068.5e9dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sourceField\":\"DDPCMD9DCDPCSCEAHDWCPCHDEASBEAKDPCBDHDEAHDCDEADDIDQC9DXCGDWCEAHDCDEASBYBCCKB\"}","payloadType":"json","x":480,"y":560,"wires":[["b4bed094.c08ac"]]},{"id":"f8d079e6.c3ff88","type":"iota-network","z":"","name":"IoTA TestNet","url":"https://nodes.devnet.iota.org:443","tcp":"tcp://zmq.devnet.iota.org:5556","weight":"9","depth":"3"},{"id":"3cd46f25.b4da3","type":"mam-channel","z":"","name":"SnapHashtestChannel","seed":"CCWCXCGDSBGDWBMDKBGDRCXCXCBCHDFDXCBDVCCCWCPCHDSBMBPCBDMBCDBDJDTCFDHDHDCDCCFDMDHDT","mode":"restricted","security":"2","sidekey":"ThisIsMySideKeySecretToBeShared"}]