iota-flows/sample_layout.json
[{"id":"c3f640a1.e917d","type":"tab","label":"UI Static Content-Sample","disabled":false,"info":""},{"id":"3582e1c8.62c68e","type":"ui_template","z":"c3f640a1.e917d","group":"94176945.40b418","name":"logo","order":1,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload\">-->\n<!--    <img src=\"https://www.snaphash.io/assets/img/logo.svg\"/>-->\n<!--</div>-->\n<div>\n<img style=\"width:155px;\" src=\"https://www.snaphash.io/assets/img/logo.svg\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":80,"wires":[[]]},{"id":"864dc794.39cb68","type":"inject","z":"c3f640a1.e917d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":200,"wires":[["5d9f4bdd.42c944"]]},{"id":"5d9f4bdd.42c944","type":"ui_template","z":"c3f640a1.e917d","group":"ed5d2166.17f67","name":"Half-Column","order":2,"width":"16","height":"5","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":260,"wires":[[]]},{"id":"fa06dc43.ae75","type":"ui_template","z":"c3f640a1.e917d","group":"ed5d2166.17f67","name":"Half-Column","order":2,"width":"16","height":"5","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":300,"wires":[[]]},{"id":"26610d04.cb31c2","type":"comment","z":"c3f640a1.e917d","name":"header","info":"","x":450,"y":40,"wires":[]},{"id":"bcb7f4c1.e3df78","type":"comment","z":"c3f640a1.e917d","name":"overview-row","info":"","x":470,"y":220,"wires":[]},{"id":"3b9ae943.5d2096","type":"comment","z":"c3f640a1.e917d","name":"analytics-row","info":"","x":470,"y":400,"wires":[]},{"id":"4f0f1390.f58bfc","type":"ui_template","z":"c3f640a1.e917d","group":"d43c5fa3.903ae","name":"Wide-Column","order":1,"width":"32","height":"8","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":440,"wires":[[]]},{"id":"94176945.40b418","type":"ui_group","z":"","name":"header","tab":"ca48cef2.3d359","order":1,"disp":false,"width":"32","collapse":false},{"id":"ed5d2166.17f67","type":"ui_group","z":"","name":"overview","tab":"ca48cef2.3d359","order":3,"disp":false,"width":"32","collapse":false},{"id":"d43c5fa3.903ae","type":"ui_group","z":"","name":"detailed_analytics","tab":"ca48cef2.3d359","order":4,"disp":false,"width":"32","collapse":false},{"id":"ca48cef2.3d359","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]